In [12]:
import pandas as pd

In [16]:
forecast_file = 'result.csv'

forecast_df = pd.read_csv(forecast_file)

forecast_df['date'] = pd.to_datetime(forecast_df['data'])
forecast_df = forecast_df.drop(['data', 'Unnamed: 0'], axis=1).sort_values(by=['date'])

forecast_df

        forecast  correct_forecast   host                date
0            0.0               0.0    all 2022-07-01 00:00:00
125280       0.0               0.0  cross 2022-07-01 00:00:00
69120        0.0               0.0   five 2022-07-01 00:00:00
69121        0.0               0.0   five 2022-07-01 00:01:00
125281       0.0               0.0  cross 2022-07-01 00:01:00
...          ...               ...    ...                 ...
56158        0.0               0.0    all 2022-08-08 23:58:00
113758       0.0               0.0  cross 2022-08-08 23:58:00
57599        0.0               0.0   five 2022-08-08 23:59:00
113759       0.0               0.0  cross 2022-08-08 23:59:00
56159        0.0               0.0    all 2022-08-08 23:59:00

[168480 rows x 4 columns]

In [56]:
forecast_df_all = forecast_df[forecast_df['host']=='all']
forecast_df_cross = forecast_df[forecast_df['host']=='cross']
forecast_df_five = forecast_df[forecast_df['host']=='five']

df = forecast_df_all

d1 = '2022-08-04 13:32:00'
d2 = '2022-08-04 13:49:00'

forecast = df[(d1 <= df['date']) & (df['date'] < d2)]['correct_forecast'].sum()
revenue = 1138046.30

print(d1, '-', d2)
print(f'\nПрогноз: {forecast:12.0f}\nВыручка: {revenue:12.0f}\nПотери:  \033[1m{forecast - revenue:12.0f}')

# for month in [10,11,7,8]:   
#     d1 = f'2022-{month if month > 9 else "0"+str(month)}-01 00:00:00'
#     d2 = f'2022-{month+1 if month > 8 else "0"+str(month+1)}-01 00:00:00'

#     print(f'{month:2.0f}:', d1, d2, round(df[(d1 <= df['date']) & (df['date'] < d2)]['forecast'].sum()))

2022-08-04 13:32:00 - 2022-08-04 13:49:00

Прогноз:      2946568
Выручка:      1138046
Потери:       1808522